<div class="row">
  <div class="col-md-3">
    filter: <select [(ngModel)]="select">
    <option *ngFor="let item of seletype" [value]="item.name">{{item.name}}</option>
   </select>
  </div>
  <div class="col-md-3">
    report_id : <input type="text" name="reportId" (keyup)="convert()" [(ngModel)]="reportId">
  </div>
  <div class="col-md-12">
    <textarea name="query" [(ngModel)]="query" rows="10" (keyup)="convert()" style="width: 100%;"></textarea>
  </div>
  <div class="col-md-12">
    <textarea name="sql" [(ngModel)]="sql" rows="10" style="width: 100%;"></textarea>
  </div>
  <div class="col-md-12">
    <p *ngFor="let e of error">{{e}}</p>
  </div>
</div>