<div class="row" style="padding: 4rem;">
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <h4>Table</h4>
        <textarea name="table" [(ngModel)]="table" rows="10" style="width: 100%;"></textarea>
      </div>
      <div class="col-12">
        <button (click)="onChangeTable($event)">Generate</button>
      </div>
      <div class="col-12">
        <table style="border: 1px solid black;" id="dataTable" class="table table-striped table-bordered nowrap"
          cellspacing="0" style="width: 100%;" *ngFor="let t of tableHtml">
          <thead>
            <tr *ngFor="let hcol of t.json_header">
              <th [attr.colspan]="i.colspan" [attr.rowspan]="i.rowspan" *ngFor="let i of hcol" [innerHTML]="i.name">
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <h4>Chart (COLUMN,LINE,BAR,BAR_NEGATIVE,GAUGE,DONUT,PIE)</h4>
        <textarea name="chart" [(ngModel)]="chart" rows="10" style="width: 100%;"></textarea>
      </div>
      <div class="col-12">
        <button (click)="onChangeChart($event)">Generate</button>
      </div>
      <div class="col-12">
        <div *ngFor="let c of chartHtml;let idx =index">
          <table class="table">
            <tr>
              <td>Label</td>
              <td>{{c.label}}</td>
              <td>{{c.label_check}}</td>
            </tr>
            <tr>
              <td>Sub Label</td>
              <td>{{c.sub_label}}</td>
              <td>{{c.sub_label_check}}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{c.name}}</td>
              <td>{{c.name_check}}</td>
            </tr>
            <tr>
              <td>Source</td>
              <td>{{c.source}}</td>
              <td>{{c.source_check}}</td>
            </tr>
            <tr>
              <td>Serie Name</td>
              <td>{{c.serie_name}}</td>
              <td>{{c.serie_name_check}}</td>
            </tr>
            <tr>
              <td>Serie Data</td>
              <td>{{c.serie_data}}</td>
              <td>{{c.serie_data_check}}</td>
            </tr>
            <tr>
              <td>Chart</td>
              <td>
                {{['COLUMN','LINE','BAR','BAR_NEGATIVE','GAUGE','DONUT','PIE'].indexOf(c.type)>-1 ? c.type : 'CHART  NOT  FOUND'}}
              </td>
              <td>{{c.type_check}}</td>
            </tr>
            <tr>
              <td>Digit Number</td>
              <td>{{c.digit_number}}</td>
              <td>{{c.digit_number_check}}</td>
            </tr>
            <tr>
              <td>Target Chart</td>
              <td>{{c.target_chart}}</td>
              <td>{{c.target_chart_check}}</td>
            </tr>
          </table>
        </div>
      </div>


    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h4>Layout ('HTML','TABLE','COLUMN_CHART', 'LINE_CHART', 'BAR_CHART', 'BAR_NEGATIVE_CHART', 'GAUGE_CHART', 'DONUT_CHART', 'PIE_CHART')</h4>
        <textarea name="layout" [(ngModel)]="layout" cols="30" rows="10" style="width:100%"></textarea>
      </div>
      <div class="col-12">
        <button (click)="onChangeLayout($event)">Generate</button>
      </div>
      <div class="col-12">
        <div class="row" *ngFor="let h of layoutHtml">
          <div *ngFor="let i of h" class="col-{{i.column_size}}" style="margin: 0;border: 1px dashed black;height: 3rem;"
            [ngClass]="{'center': i.align=='center','left': i.align=='left','right': i.align=='right'}">
            <span *ngIf="i.type=='HTML'" [innerHtml]="i.value"></span>
            <span *ngIf="i.type != 'HTML'">{{i.name}}</span>
            <span *ngIf="i.type != 'HTML'">{{i.type}}-{{i.type_check}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>